{# on herite du layout #}
{%extends "::layout.html.twig"%}

{% block section %}
<h2> BIENVENU </h2> <br>
<h3><marquee>  CECI EST UN CLONE DU SITE LEBONCOIN.FR A DES FINS PUREMENT EDUCATIVES</marquee> <h3>
<img src=" "></h1>
{% endblock %}

